.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  height: 60px;
  width: 100px;
}

.spectrumValues { 
  height: 200px;
  width: 410px;
  float: left;
  position: relative;
}

.spectrum { 
  width: 20px; 
  float: left;
  position: absolute;
  bottom: 0;
  border: 1px solid white;
  background-image: linear-gradient(red, green);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
